@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat:wght@300&display=swap');
:root{
    --primary-color: #FFF7EB;
    --secondary-color: #AFD2E9;
    --accent1-color: #96A13A;
    --accent2-color: #3588C0;

    --heading-font: 'Rahdhani', sans sarif;
    --paragraph-font: 'Kalam', handwritting;

    --nav-background-color: #FFF7EB;
    --nav-link-color: #AFD2E9;
    --nav-hover-link-color: #3588C0;
    --nav-hover-background-color: #96A13A;
}
body{
font-family: kalam;
max-width: 960px;
padding: 20px;
}
img{
    width: 100%;
    height: auto;
    float:right;
    margin: 0 0 15px 15px;
    border: 0;
}

header{

}
nav{

}