@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat:wght@300&display=swap');
:root{
    --primary-color: #FFF7EB;
    --secondary-color: #AFD2E9;
    --accent1-color: #96A13A;
    --accent2-color: #3588C0;

    --heading-font: 'Rahdhani', sans sarif;
    --paragraph-font: 'Kalam', handwritting;

    --nav-background-color: #FFF7EB;
    --nav-link-color: #AFD2E9;
    --nav-hover-link-color: #3588C0;
    --nav-hover-background-color: #96A13A;
}
/*Rafting logo & nav links*/
header {
    max-width: 100%;
    background-color: #3588c0;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows:auto;
    padding-top: 15px;
}
header nav {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    column-gap: 20px;
    padding: 85px;
}
/*all*/
body{
font-family: kalam;
max-width: 100%;
padding: 20px;
}
/*rafting logo*/
img{
    width: 100%;
    height: auto;
    float:right;
    margin: 0 0 15px 15px;
    border: 0
}
/*first main image*/
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
/* "White Water Rafting" */
.hero h1 {
    position: absolute;
    top:350px;
    text-align:center;
    left:0;
    right: 0;
    color:#262640
}
.hero article{
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    width: 79%;
    padding: 80px;
}
/*Blue transparent box*/
.hero article p{
    background-color: #3588c0a3;
    height: 200px;
    width: 100%;
    padding: 50px;
}
/*happy client*/
.hero article img{
    height: auto;
    width: 300px;
    padding-top: 60px;
    padding-right:0px;
    padding-left:100px;
}
/*5 images*/
main section {
    max-width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    column-gap: 90px;
    background-color: #3588C0;
}
main h2 {
    background-color: #96A13A;
}
.sociallinks {
    height: auto;
    width: 50px;
    float: left;
    display: grid;
    grid-template-columns: 75px 75px 75px;
}
footer {
    background-color: #3588C0;
    display: grid;
    grid-template-columns: 500px 500px 500px 500px;
}