@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat:wght@300&display=swap');
:root{
    --primary-color: #FFF7EB;
    --secondary-color: #AFD2E9;
    --accent1-color: #96A13A;
    --accent2-color: #3588C0;

    --heading-font: 'Rahdhani', sans sarif;
    --paragraph-font: 'Kalam', handwritting;

    --nav-background-color: #FFF7EB;
    --nav-link-color: #AFD2E9;
    --nav-hover-link-color: #3588C0;
    --nav-hover-background-color: #96A13A;
}
/*Rafting logo*/
header {
    max-width: 200px;
    position: left;
}
/*Index*/
header nav {
    position:left;
}
/*all*/
body{
font-family: kalam;
max-width: 950px;
padding: 20px;
color:#;
}
img{
    width: 100%;
    height: auto;
    float:right;
    margin: 0 0 15px 15px;
    border: 0
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
/* "White Water Rafting" */
.hero h1 {
    position: absolute;
    top:350px;
    text-align:center;
    left:0;
    right: 0;
    color:#262640
}
.hero article{
    position: absolute;
    top: 450px;
    left: 0;
    right: 0;
    width: 92.5%;
    padding: 28px;
}
.hero article p{
    position:left;
    background-color: #3588c0a3;
    height: 200px;
}
.hero article img{
    float: right;
    height: auto;
    width: 230px;
    padding: 40px;
}
.sociallinks {
    height: auto;
    width: 50px;
    float: right;
}