@import url('https://fonts.google.com/specimen/Montserrat?preview.text=WHITEWATER&preview.text_type=custom')
@import url (https://fonts.google.com/specimen/Kalam?preview.text=Rafting&preview.text_type=custom&query=kalam)
:root {
    --primary-color: #FFF7EB;
    --secondary-color: #AFD2E9;
    --accent1-color: #96A13A;
    --accent2-color: #3588C0;

    --heading-font: 'Kalam', handwritting;
    --paragraph-font: 'Rahdhani', sans sarif;

    --nav-background-color: #FFF7EB;
    --nav-link-color: #AFD2E9;
    --nav-hover-link-color: #3588C0;
    --nav-hover-background-color: #96A13A;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color:var(--nav-hover-link-color);
}
nav a:hover {
    color: var(--nav-hover-background-color);
    background-color: var(--nav-hover-background-color);
}